@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font: normal 100%/1.3;
  font-family: Ubuntu, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #18294f;
  overflow: hidden;
  color: #fff;
}

nav ul {
  list-style-type: none;
  padding-left: 5px;
  font-size: 1.125rem;
}

li {
  padding: .3em 0 .5em;
}

nav a {
  text-decoration: none;
  font-size: 1.125rem;
  color: #6c8fe0;
}

nav a:hover {
  background-color: #6c8fe0;
  color: #fff;
  padding: .3em 0 .5em;
  padding-right: 11em;
  white-space: normal;
}

header h1 {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  margin-top: 0;
  padding: .5em .75em;

}

body {
  margin: 0;
}

@media only screen and (min-width: 25em) {

  nav li {
    display: block;
    text-align: center;
  }

  li:first-child {
    float: left;
    width: 50%;
  }

  li:nth-child(2) {
    float: left;
    width: 50%;
  }

  li:nth-child(3) {
    float: left;
    width: 50%;
  }

  li:last-child {
    float: left;
    width: 50%;
  }

  nav a:hover {
    padding-right: 0;
  }

  ul {
    margin: 0;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  li:first-child {
    float: left;
    width: 25%;
  }

  li:nth-child(2) {
    float: left;
    width: 25%;
  }

  li:nth-child(3) {
    float: left;
    width: 25%;
  }

  li:nth-child(4) {
    float: left;
    width: 25%;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  header h1 {
    float: left;
    width: 40%;
    display: inline-block;
  }

  li {
    padding-top: 1.5em;
  }

  li:first-child {
    float: right;
    width: 15%;
  }

  li:nth-child(2) {
    float: right;
    width: 15%;
  }

  li:nth-child(3) {
    float: right;
    width: 15%;
  }

  li:nth-child(4) {
    float: right;
    width: 15%;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
    line-height: 1.5;
  }

  .wrapper {
    margin-right: 0;
  }

}
